* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0d0714;
    font-family: "Inter", sans-serif;
    margin: 20px auto;
    max-width: 1000px;
    padding: none 1em 1em 1em;
}

@media (max-width:992px){
    body {
        max-width:750px;
    }
}

@media (max-width:767px){
    body {
        max-width:600px;
    }
}

.container {
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #1d1825;
    height: auto;
    padding: 2em 3em 1em 3em;
}

.control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: auto;
}

.list {
    padding-top: 1em;
} 

.field{
    border: 1px #9E78CF solid;
    background: #1D1825;
    color: #9E78CF;
    border-radius: 10px;
    height: 40px;
    width: calc(100% - 100px);
    font-size: larger;
    padding-left: 0.5em;
    margin-right: 0.5em;
}

.field:focus {
    outline: 0;
}

.add {
    margin-right: 0.5em;
    background: #9E78CF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    font-size: larger;
    cursor: pointer;
}

.add:hover {
    background: #b198d1;
    color: #666666;
}

.deleteAllBtn {
    background-color: rgba(224, 101, 101, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    font-size: larger;
    cursor: pointer;
}

.fa-plus {
    padding-top: 3px;
}

.deleteAllBtn:hover {
    background-color: rgba(228, 117, 117, 0.9);
    color: #666666;
}

.task {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(21, 16, 28);
    color: #9E78CF;
    border-radius: 10px;
    line-height: 40px;
    width: 100%;
    font-size: larger;
    margin: 10px auto 10px 0;
    padding-left: 1em;
    overflow: hidden;
    overflow-wrap: break-word;
}

.task > p {
    max-width: calc(100% - 1px);
}

.success {
    background-color: rgba(54, 197, 114, 0.8);
    color:rgb(21, 16, 28)
}

.deleteBtn {
    order: 3;
    margin: 1em 1em 1em 0;
    height: 40px;
    width: 40px;
    font-size: large;
    background-color: rgba(224, 101, 101, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: rgba(228, 117, 117, 0.9);
    color: #666666;
}
 
.editBtn {
    margin: 1em 0.5em 1em auto;
    height: 40px;
    width: 40px;
    font-size: large;
    background-color: rgba(109, 224, 147, 0.9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.editBtn:hover {
    background-color: rgba(140, 221, 167, 0.9);
    color: #666666;
}

.status {
    order: -1;
    margin: 1em 1em 1em 0;
    width: 20px;
    height: 20px;
}


.taskField {
    font-size: larger;
    background-color: rgb(141, 118, 207, 0.7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    border-radius: 5px;
    padding-left: 0.5em;
}

.taskField:focus {
    outline: 0;
}

.task > p {
    margin: 0;
}
